<html>
  <style>
    .heading {
      text-align: right;
    }

    div.location {
      align: center;
    }

    div.location table {
      border: none;
      table-layout: fixed;
      width: 100%;
    }

    div.location tr:nth-child(even){
      background-color: #f2f2f2;
    }

    div.location td {
      padding: 0.1cm;
    }

    div.location td.name {
      width: 8cm;
    }

    div.location td.reference {
      text-align: center;
      width: 4cm;
    }

    div.location td.date {
      text-align: center;
      width: 6cm;
    }

    div.total {
      align: center;
    }

    div.total table {
      border: none;
      table-layout: fixed;
      width: 100%;
    }

    div.total td {
      padding: 0.2cm;
      width: 5cm;
    }

    div.total tr:nth-child(even){
      background-color: #f2f2f2;
    }

    td.cost {
      text-align: right;
    }

    h1 {
      
    }
    
    h2 {

    }

    body {
      font-family: Tahoma, sans-serif;
      margin: 2cm 1cm 1cm 1cm
    }
  </style>
  <body>
    <div class="heading">
      <p class="date">{{date}}</p>
    </div>
    <div class="report">
      <h1>{{report}}</h1>
      <div class="breakdown">
        <h2>Breakdown</h2>
        {{#each locations}}
        <div class="location">
          <h3>{{name}}</h3>
          <table>
            {{#each records}}
              <tr>
                <td class="name">{{name}}</td>
                <td class="reference">{{reference}}</td>
                <td class="date">{{date.text}}</td>
              </tr>
            {{/each}}
          </table>
          <div class="summary">
            <p>{{count}} cases @ £{{rate}} = £{{cost}}</p>
          </div>
        </div>
        {{/each}}
      </div>
      <hr/>
      <div class="total">
        <table>
          {{#each locations}}
            <tr>
              <td>{{name}} Sub-Total:</td>
              <td class="cost">£{{cost}}</td>
            </tr>
          {{/each}}
            <tr>
              <td>Total:</td>
              <td class="cost">£{{total}}</td>
            </tr>
        </table>
      </div>
    </div>
  </body>
</html>